.parent{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-image: url('busVoznje.jpg');
  image-rendering: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  width: 100%;
}


.button1 {
    background-color: rgba(55, 99, 136, 0.568); /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.naslov{
  
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  color:rgba(0, 0, 0, 0.575) ;
  position:relative;
  margin-top: 50px;
  margin-left: 20px;

}  

.slova{
  font-family:'Times New Roman', Times, serif;
  color:black ;
  margin-left: 10px;
  font-weight: bold;
}

.form {
  border: 2px solid black;
  margin: auto;  
  padding: 20px;
  text-align: center;
}

.dugmici{
  display: flex;
  flex-direction: column;
}

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    margin: 20px
  }
  
  th, td {
    border-left:solid black 1px;
    border-top:solid black 1px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: blue;
    border-top: none;
}
  
  tr:nth-child(even) {background-color: rgba(89, 89, 106, 0.362)}

  td:first-child, th:first-child {
    border-left: none;
}

table.tabela{
    margin-left: auto;
    margin-right: auto;
    
}
  table.tabela tr td {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
    color:black ;
    font-weight: bold;
  }
  .form-control{
    margin: 85px 2px;
  }